.admin-user-search-wrapper{
    width: 50%;
    height: fit-content;
    padding: 3rem 0;
}
.admin-user-search-wrapper > .admin-search-bar{
    width: 100%;
    height: fit-content;
    scale: 1.075;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.admin-user-search-wrapper > .admin-search-bar > form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: inherit;
}
.admin-user-search-wrapper > .admin-search-bar > form > input{
    width: 100%;
    width: calc(100%/3);
    height: 100%;
    padding: .5rem;
    font-size: inherit;
    color: var(--text-color);
    background-color: var(--accent-color-2);
    outline: none;
    border: none;
}





/* rows */
.admin-search-result, .admin-search-result-error-row{
    width: 100%;
    overflow-x: auto;
    font-size: 1.2rem;
}
.admin-search-result-error-row{
    color: hsl(0, 60%, 49%);
}


/* tables */
.admin-search-result > table{
    width: 100%;
    text-align: left;
    font-size: inherit;
    border-collapse: collapse;
    table-layout: fixed;
}
.admin-search-result > table > thead > tr > th:first-child{
    width: 4rem;
}
.admin-search-result > table > tbody > tr > td{
    padding: .5rem 0;
}
.admin-search-result > table > tbody > tr > td:first-child > p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.admin-search-result > table > tbody > tr > td:first-child > p > input{
    display: none;
}
.admin-search-result > table > tbody > tr > td:first-child > p > label{
    aspect-ratio: 1/1;
    height: 2rem;
    border-radius: 100%;
    position: absolute;
    cursor: pointer;
}

.admin-search-result > table > tbody > tr > td:first-child > p > input + label{
    background-color: transparent;
    border: solid 0.2rem var(--text-color);
    transition: all .6s cubic-bezier(.68,-0.55,.27,1.55);
}
.admin-search-result > table > tbody > tr > td:first-child > p > input:checked + label{
    background-color: #00e0c6;
    border: solid 0 var(--text-color);
    transform: rotate3d(0, 1, 0, 180deg);
    transition: all .6s cubic-bezier(.68,-0.55,.27,1.55);
}
.admin-search-result > table > tbody > tr.selected-row{
    box-shadow: inset 0px 0px 0px 2px rgb(0, 224, 198);
}
.admin-search-result > table > tbody > tr > td > button{
    width: fit-content;
    height: fit-content;
    text-align: center;
    background-color: var(--accent-color-2);
    border: none;
    outline: none;
    color: var(--text-color);
    padding: .5rem 1rem;
    border-radius: .4rem;
    cursor: pointer;
}
.admin-search-result > table > tbody > tr:nth-child(even) > td > button{background-color: var(--accent-color-1);}
.admin-search-result > table > tbody > tr > td > p:hover{
    overflow-x: auto;
}
.admin-search-result > table > tbody > tr > td > p{
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 1ch;
}
.admin-search-result > table > thead, .admin-search-result > table > tbody > tr:nth-child(even){background-color: var(--accent-color-2);}
.admin-search-result > table > tbody > tr:nth-child(odd){background-color: var(--accent-color-1);}






/* result wrapper */
.admin-search-result-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.admin-search-result-page-navigator{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: flex-end;
    margin-top: 1rem;
    place-items: flex-end;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.admin-search-result-page-navigator > .right, .admin-search-result-page-navigator > .left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
.admin-search-result-page-navigator > .left{
    justify-content: flex-start;
}
.admin-search-result-page-navigator > .right > button,
.admin-search-result-row-ammount,
.admin-user-search-wrapper > button{
    background-color: var(--accent-color-2);
    color: var(--text-color);
    outline: none;
    border: none;
    padding: .5rem 1rem;
    border-radius: .25rem;
    cursor: pointer;
}
.admin-search-result-page-navigator > .right > .current-page-number{
    width: 3ch;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.admin-search-result-page-navigator > .right > p,
.admin-search-result-page-navigator > .left > p{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    color: var(--text-color);
}
/* row ammount button */
.admin-search-result-row-ammount{
    width: fit-content;
    padding: .5rem .25rem;
}