.user-overlay-wrapper{
    background-color: var(--accent-color-1);
    width: 50%;
    height: fit-content;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
}
.form-title{
    width: 100%;
    font-size: 2rem;
    text-align: center;
}
.form-full-width{
    width: 100%;
    padding: 3rem 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.form-full-width > input[type="submit"]{
    border: none;
    outline: none;
    background-color: var(--accent-color-2);
    padding: .5rem 2rem;
    color: var(--text-color);
    font-size: 1em;
    border-radius: 100rem;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border: solid .1em var(--text-color);
}
.user-overlay-wrapper-card{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}
.user-overlay-wrapper-card > .title{
    color: var(--text-color);
    font-size: 1em;
}
.user-overlay-wrapper-card > a{
    color: var(--text-color);
    font-size: 1em;
    margin-bottom: 1rem;
}
.user-overlay-wrapper-card > .title > span{
    font-weight: 600;
    font-size: 1.2em;
}
.user-overlay-wrapper-card > select,
.user-overlay-wrapper-card > input,
.form-full-width > input[type="password"],
.form-full-width > input[type="text"]{
    background-color: var(--accent-color-2);
    border: none;
    padding: .25rem .5rem;
    width: 75%;
    color: var(--text-color);
    outline: none;
    font-size: 1.5em;
}
.form-full-width > input[type="password"],
.form-full-width > input[type="text"]{
    width: 50%;
    min-width: 21ch;
}
.user-overlay-wrapper-card > select{
    width: max-content;
}
.delete-button{
    background-color: hsl(0, 60%, 49%) !important;
}
.update-text-overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    text-align: center;
    background-color: var(--text-color);
    color: var(--accent-color-1);
    padding: .5rem 15vw;
    transition: all .7s ease-in-out;
}
.move-up{
    top: -100%;
    transition: all .7s ease-in-out !important;
}
.overlay-error{
    background-color: hsl(0, 60%, 49%);
}
/* BULK EDIT */
.bulk-edit-table{
    width: 66%;
    overflow-x: auto;
    font-size: 1.2rem;
    border-collapse: collapse;
    table-layout: fixed;
}
.bulk-edit-table > tbody > tr > td,
.bulk-edit-table > thead > tr > th{
    text-align: left;
    padding: .5rem 0;
}
.bulk-edit-table > thead > tr > th:first-child,
.bulk-edit-table > tbody > tr > td:first-child{
    width: min-content;
    padding-right: 1ch;
}
.bulk-edit-table > thead > tr > th:last-child,
.bulk-edit-table > tbody > tr > td:last-child{
    padding-left: 1ch;
}
.bulk-edit-table > thead > tr > th:not(:last-child):not(:first-child),
.bulk-edit-table > tbody > tr > td:not(:last-child):not(:first-child){
    padding-left: 1ch;
    padding-right: 1ch;
}
.bulk-edit-table > tbody > tr > td > p:hover {
    overflow-x: auto;
}
.bulk-edit-table > tbody > tr > td > p{
    overflow: hidden;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.bulk-edit-table > thead,
.bulk-edit-table > tbody > tr:nth-child(2n){
    background-color: var(--accent-color-2);
}
.bulk-edit-table > tbody > tr:nth-child(2n+1){
    background-color: var(--accent-color-1);
}
.bulk-edit-table > tbody > tr,
.bulk-edit-table > tbody > tr > td{
    height: 100%;
}
.bulk-edit-table > tbody > tr > td:first-child > p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.bulk-edit-table > tbody > tr > td:first-child > p > button{
    aspect-ratio: 1/1;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    /* border: solid 0.2rem var(--text-color); */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bulk-edit-table > tbody > tr > td:first-child > p > button::before,
.bulk-edit-table > tbody > tr > td:first-child > p > button::after{
    content: "";
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 15%;
    background-color: var(--text-color);;
    transition: all .2s ease-in-out;
    border-radius: 100rem;
}
.bulk-edit-table > tbody > tr > td:first-child > p > button::before{transform: rotate(-45deg);}
.bulk-edit-table > tbody > tr > td:first-child > p > button::after{transform: rotate(45deg);}
.bulk-edit-table > tbody > tr > td:first-child > p > button:hover::before,
.bulk-edit-table > tbody > tr > td:first-child > p > button:hover::after{
    background-color: red;
}