.settings-wrapper{
    width: 30%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.settings-row{
    padding: .5em 1em;
    width: 100%;
}
.settings-row > form{
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
.settings-row > form > .setting-description{
    width: fit-content;
    font-size: 1.5em;
    justify-self: flex-start;
}
.settings-row > form > .settings-password{
    grid-area: 2 / 2 / 3 / 3;
    margin: 0.2rem 0;
}
.settings-row{border-bottom: solid 1px var(--text-color);}
.settings-row:last-child{border-bottom: none;}
.settings-row > form > .settings-input{
    min-width: fit-content;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-self: flex-end;
}
.settings-row > form > .settings-input > input{
    background-color: var(--accent-color-2);
    border: none;
    padding: .25rem .5rem;
    width: 100%;
    color: var(--text-color);
    outline: none;
    font-size: 1em;
}
.settings-save{
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.settings-save > input[type="submit"]{
    border: none;
    outline: none;
    background-color: var(--accent-color-2);
    padding: .25rem 2rem;
    color: var(--text-color);
    font-size: 1em;
    border-radius: 100rem;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border: solid .1em var(--text-color);
}